.comment-modal-container {
    width: 100%;
}

/* Header */

.comment-modal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.comment-modal-header div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.comment-modal-header div h2 {
    font-family: 'QuicksandRegular';
    font-size: 30px;
    text-align: left;
}

.comment-modal-header div img {
    width: 50px;
    height: auto;
}

/* Body */

.comment-modal-post {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.comment-modal-description {
    width: 100%;
    margin-top: 20px;
}

.comment-modal-description-text {
    font-family: 'QuicksandRegular';
    font-size: 20px;
    background-color: #EFEFEF;
}

.comment-modal-header img{
    width: 5%;
    height: auto;
}

.comment-modal-reply {
    margin-top: 20px;
    width: 20%;
    border: none;
}
